<div>
    <table class="w3-card-4 w3-table w3-striped w3-border w3-animate-left ">
        <thead>
            <tr class="w3-blue">
                <th ng-repeat="column in column">{{column}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in row">
                <td ng-repeat="column in column">{{row[column]}}</td>
            </tr>
        </tbody>
    </table> 
</div>

