<!DOCTYPE html>
<html>
    <head>
        <title>MiniSiss</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link href="assets/css/w3.css" rel="stylesheet" type="text/css"/>
        <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/w3-theme-blue.css" rel="stylesheet" type="text/css"/>
        <script src="assets/js/angular/angular.js" type="text/javascript"></script>
        <script src="assets/js/dist/router.es5.min.js" type="text/javascript"></script>
        <script src="components/minisiss/minisiss.js" type="text/javascript"></script>
        <script src="components/table-data/table-data.js" type="text/javascript"></script>
        <script src="components/task-list/task-list.js" type="text/javascript"></script>
        <script src="components/student-list/student-list.js" type="text/javascript"></script>
        <script src="components/task-score-list/task-score-list.js" type="text/javascript"></script>
        <script src="components/table-schedule/table-schedule.js" type="text/javascript"></script>
        <script src="app.js" type="text/javascript"></script>
    </head>
    <body  ng-app="app"   ng-controller="AppController as app">
        <div class="w3-card ">
            <nav class="w3-sidenav w3-text-theme w3-card-4 w3-border w3-animate-left" style="display:none; width: 20%;">
                <a href="javascript:void(0)" 
                   onclick="w3_close()"
                   class="w3-closenav w3-large"><i class="fa fa-times-circle"></i></a>
                <a class="w3-border-bottom w3-hover-blue" ng-link="taskList"><i class="fa fa-tasks"></i>&nbsp;Tasks</a>		
                <a class="w3-border-bottom w3-hover-blue" ng-link="taskScoreList"><i class="fa fa-check-square"></i>&nbsp;Scores</a>		
                <a class="w3-border-bottom w3-hover-blue" ng-link="studentList"><i class="fa fa-list"></i>&nbsp;Student List</a>		
                <a class="w3-border-bottom w3-hover-blue" ng-link="tableSchedule"><i class="fa fa-table"></i>&nbsp;Schedule</a>		
            </nav> 
            <div id="main">
                <header class="w3-container w3-blue w3-card-4 w3-animate-top">
                    <span class="w3-opennav w3-xlarge" onclick="w3_open()">&#9776;</span>
                    <a style="float: right; margin-top: 17px; color: white;" ng-click="app.closeSesion()" href="/minisissII/#">
                        <i class="fa fa-sign-out"></i>&nbsp;Log Out
                    </a>
                    <nav class="  w3-topnav w3-jumbo w3-theme w3-blue ">
                        MiniSis
                    </nav>
                </header>

                <section ng-viewport class="w3-container">

                </section>
                <footer class="w3-container w3-blue w3-card-4 w3-animate-top">
                    <div class="w3-half">
                        <h2>E-Books</h2>
                        <a style="color:white" href="http://software2012team23.googlecode.com/git-history/5127389d21813c2bd955c53999f66cede994578b/docs/literature/Extreme_Programming_Explained_Kent_Beck_1999.pdf">Extreme Programming Explained Kent Beck 1999</a> <br />
                        <a style="color:white" href="http://www.scrumguides.org/docs/scrumguide/v1/scrum-guide-us.pdf">Scrum Guides</a><br />
                        <a style="color:white" href="http://dbmanagement.info/Books/MIX/Agile_Project_Management_With_Scrum.pdf">Agile Project Management with Scrum</a><br />
                        <a style="color:white" href="http://dsc.itmorelia.edu.mx/~jcolivares/courses/pm10a/rup.pdf">Unified Process</a><br />
                    </div>
                    <div class="w3-half">
                        <h2>Links</h2>
                        <a style="color:white" href="http://www.agilemanifesto.org/">Agile Manifiesto</a><br />
                        <a style="color:white" href="http://www.extremeprogramming.org/rules.html">Extreme Programming Rules </a><br />
                    </div>
                </footer>

            </div>
        </div>
        <script>
                            function w3_open() {
                            document.getElementById("main").style.marginLeft = "15%";
                                    document.getElementsByClassName("w3-sidenav")[0].style.width = "15%";
                                    document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
                                    document.getElementsByClassName("w3-opennav")[0].style.display = 'none';
                            }
                    function w3_close() {
                    document.getElementById("main").style.marginLeft = "0%";
                            document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
                            document.getElementsByClassName("w3-opennav")[0].style.display = "inline-block";
                    }
        </script>
    </body>
</html> 
